.main-section {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-grow: 1;
}

/*.main-section .img-wrapper {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
}

.main-section .phone-image {
    background-image: url(Images/—Pngtree—stock\ market\ pipe\ chart\ graphics_5358844.png);
    flex-grow: 1;
    max-height: 70vh;
    min-width: 30vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
}*/

.main-section .call-to-action {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
    align-self: center;
    margin-bottom: 6rem;
    height: 815vh;
}

.projects-section{
    display: flex;
    align-items:stretch;
    justify-content: space-between;
    flex-grow: 1;
}


/*.projects-section .img-project{
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    
}

.projects-section .phone-image-a{
    background-image: url(Images/Capture.PNG);
    flex-grow: 1;
    max-height: 70vh;
    min-width: 30vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
}*/

@media (max-width: 900px) {
    .main-section .img-wrapper {
      display: none;
    }
  
    .main-section {
      justify-content: center;
    }
  }

  @media (max-width: 900px) {
    .projects-section .img-project {
      display: none;
    }
  
    .projects-section {
      justify-content: center;
    }
  }
